<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="MalachiBeeram, as commissioned by the SM youad group">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main-navigation.css">
    
</head>
<body>
    <header class="header-wrapper">
        <!-- Str Main Navigation -->
        <nav class="prim-nav-container">
            <div class="prim-nav-logo prim-nav-part">
                <a class="prim-nav-logo-link" href="#">
                    <img 
                        src="./assets/img/png/logo-small-nav-bar-light-red-cc0000ff.png" 
                        alt="The Simple Bartender logo red-cc0000ff"
                        class="prim-nav-logo-link-img"> 
                </a>
            </div>
            <div class="prim-nav-search prim-nav-part prim-nav-right">
                <form action="" class="nav-search-bar">
                  <button type="submit" class="nav-search-bar-part nav-search-bar-btn">
                     <i class="fa fa-search" ></i>
                  </button>
                   <input 
                          name="searchquery"
                          type="search" 
                          class="nav-search-bar-part nav-search-bar-input" 
                          placeholder="Let's find it ... "
                          pattern=".*\S.*" 
                          required>
                </form>
             </div>
            <div class="prim-nav-actual prim-nav-part">
                <!-- ghost -->
                <ul class="prim-nav-list">
                    <!-- Quick Tools -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Quick Tools 
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    It's 5pm here and now.
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Pick A Drink 4 Me
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a> 
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            What Can I Make Now
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Search A Drink
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a> 
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Non-Alcoholic drinks
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>
                            </li>
                        </ul>        
                    </li>
                    <!-- How to be Safer -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn" >
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    How to be Safer  
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    A Good Time is Safe and Responsible
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Before drinking
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            While drinking
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a> 
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Best Practices
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a> 
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Water and H2O
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Anti Drive Protocols
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a> 
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            No drink Unattended
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            After drinking
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>  
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Non-Alcoholic drinks
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt"> </p>
                                    </div>
                                </a>  
                            </li>
                        </ul>
                    </li>
                    <!-- Games and Challenges -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Games & Challenges  
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Let's Get the fun started
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Party Games
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Popular Games, Random Game, New Games
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Drinking Challenges
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Popular Challenges, Random Challenges, New Challenges
                                        </p>
                                    </div>
                                </a>  
                            </li>
                        </ul>
                    </li>
                    <!-- Cocktails -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Cocktails  
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Let's Get You a Mixed Drink
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Popular Cocktails
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Let's get you a Mixed drink 2
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Cocktails Datebase
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Let's show you a Mixed drink
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Cocktails Search
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Let's find you a Mixed drink
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>  
                    </li>
                    <!-- Liquor and Spirits -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Liquor & Spirits  
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Hmmm, What to Add Here ...
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Vodka
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Clear,Colourless and Unforgiving
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Tequila
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            It's a Party, Mexico's national liquor!
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            100% Grain [Ex:Everclear]
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Adjective: god-forsaken - lacking any merit or attraction; dismal.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Bourbon
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            It's not bourbon unless it's made in the state of Kentucky
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Whisky
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Typically aged in a Wooden Barrel
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Rum
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            From the Caribbean and the Equator
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Gin
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Dry with a noticeable pine flavor, think tree Alcohol
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Wine
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            From "<i>Chardonnay</i>" to "<i>Box Wine</i>"
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Brandy and cognac
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Cognac is just one type of Brandy
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- Beer,Seltzer and Other -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Beer, Seltzer, & More
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Canned Carbonated Excellence
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Beer Home
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            From "<i>Naturdays</i>" to "<i>Yuengling</i>" to "<i>Bud Light</i>"
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Hard Seltzers
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            From "<i>White Claw</i>" to "<i>Truly</i>"
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Cans and Glass bottles
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            From "<i>Four Loko</i>" to "<i>Seagram's Escapes</i>"
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>  
                    </li>
                    <!-- Simple Bartending -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Simple Bartending  
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Adding to the drinking experience
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list sub-list-left-flip">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Simple Set-up
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Quick guide to setting up a quick <i>"bar"</i>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Simple Techniques
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Quick guide to setting up a quick <i>"bar"</i>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Simple Gear and Equipment
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            See the bare minimum of what you'll need for a simple bar
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Fruits and Garnish
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Try adding something to make your drink <i>"Different"</i>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Interactive BarBack Map
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            To allow you to get familiar with the basics of behind your own simple bar or a real the bar. 
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul> 
                    </li>
                    <!-- Miscellaneous/Other -->
                    <li class="prim-nav-list-item">
                        <button class="prim-nav-btn">
                            <div class="btn-summary">
                                <p class="btn-summary-txt">
                                    Other Stuff
                                </p>
                            </div>
                            <i class="fa fa-caret-down"></i>
                            <div class="btn-detail">
                                <p class="btn-detail-txt">
                                    Contact Page, About Page and More
                                </p>
                            </div>
                        </button>
                        <ul class="prim-nav-sub-list sub-list-left-flip">
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Contact
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Basic Contact information, and coffee information
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            About
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Find out Some information about this site and it's purpose.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="prim-nav-sub-list-item">
                                <a href="#" class="prim-nav-link">
                                    <div class="list-item-summary">
                                        <p class="list-item-summary-txt">
                                            Submit Bug Report or Feedback
                                        </p>
                                    </div>
                                    <div class="list-item-detail">
                                        <p class="list-item-detail-txt">
                                            Let me know if you find an issue or have feedback.
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul> 
                    </li>
                </ul>
            </div>
            <div class="prim-nav-meun prim-nav-part prim-nav-right" 
                onclick="meunicon_activation(this.parentElement)">
                <div class="meun-icon-box">
                    <div class="meun-icon-line-1"></div>
                    <div class="meun-icon-line-2"></div>
                    <div class="meun-icon-line-3"></div>
                </div>
            </div>
        </nav>
        <!-- End Main Navigation -->
    </header>    

    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
    been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
    galley of type and scrambled it to make a type specimen book. It has survived not only five 
    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
</body>
<script src="js/main-navigation.js"></script>
</html>